.layout {
    margin: 0px auto;
    width: 1100px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--white);
    height: 100%;
}

.container {
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    padding: 64px 50px;
    height: 100%;
}

.upload {
    position: relative;

}

.upload-video {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.upload-card {
    height: 458px;
    border: 2px dashed rgba(22, 24, 35, 0.2);
    box-sizing: border-box;

    border-radius: 8px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: background 0.15s ease-in-out 0s;
    padding-left: 35px;
    padding-right: 35px;
}

.icon-cloud {
    width: 40px;
    height: 29px;
}

.text-main {
    text-align: center;
    margin-top: 24px;
}

.text {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 2rem;
    line-height: 1.5;
    //font-family: var(--tux-fontFamilyParagraph);
    //font-weight: var(--tux-fontWeightSemibold);
    color: var(--black);
}

.text1 {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 1.6rem;
    line-height: 1.5;
}

.text-sub {
    margin-top: 4px;
    margin-bottom: 24px;
}

.text-video-info {
    list-style: none;
}

.info {
    margin-bottom: 6px;
    text-align: center;
}

.info:last-child {
    margin-bottom: 0px;
}

.select-button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 400px;
    margin-top: 32px;
}

.button {
    box-sizing: border-box;
    appearance: none;
    min-width: 96px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    //font-family: var(--tux-fontFamilyParagraph);
    //font-weight: var(--tux-fontWeightSemibold);
    text-decoration: none;
    cursor: pointer;
    background-clip: padding-box;
    width: 100%;
    //font-size: var(--tux-fontSizeP3);
    height: 36px;
    padding-inline: 15px;
    color: var(--primary);
    background-color: var(--primary);
    border-color: var(--primary);
}

.text-button {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    overflow: hidden;
    gap: 6px;
}

.text-select {
    color: var(--white);
    font-size: 1.6rem;
}

//footer
.footer {
}
.footer-container {
    width: 100%;
    color: #fff;
    background: #000;
    padding-bottom: 24px;
    //height: 100%;
}

.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px 0 0 378px;
}

.bottom-wrapper {
    padding: 0 144px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    -webkit-box-pack: justify;
    justify-content: flex-end;
}

.copyright {
    font-family: "sofiapro-medium",Arial,Tahoma,PingFangSC,sans-serif,"Segoe UI Emoji","Noto Emoji";
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    line-height: 24px;
    color: #8a8b91;
}

//logo
.logo {
    display: block;
    position: absolute;
    left: 144px;
    top: 43px;
}